*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font_OpenSans{
    font-family: Open Sans, 'sans-sherif';
}
.font_Rajdhani{
    font-family: "Rajdhani", serif;
}
.flex_row{
    display: flex;
    flex-direction: row;
}
.flex_column{
    display: flex;
    flex-direction: column;
}
.font_Cambria{
    font-family: 'Courier New', Courier, monospace;
}
.cursor_pointer{
    cursor: pointer;
}
body{
    width: 110%;
    height: 150vh;
    overflow: auto;
}
.SignIn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
body::-webkit-scrollbar {
    display: none; 
  }
.form_container{
    width: 50%;
    height: 100%;
    background-color: #292929;
    padding: 2% 6% 2% 6%;
}
.Image{
    width: 50%;
    height: 100%;
    background-image: url(SignInImage.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.main_container{
    width: 100%;
    height: 100%;
}
.icon_container{
    width: 100%;
    height: 13%;
}
.container2{
    width: 100%;
    height: 77%;
    /* background-color:burlywood; */
}

.main_container > .container2{
    display: flex;
    flex-direction: column;
}
.container3{
    height: 8%;
    display: flex;
    padding: 0 24% 0 24%;
    /* background-color: brown; */
}
.container4{
    height: 93%;
    padding: 2% 8% 2% 8%;
    /* background-color:thistle; */
}
.button_style{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* padding: 13px 30px 13px 30px; */
    width: 45%;
    text-align: center;
    border: none;
    font-weight: 550;
    background-color: #EBA832;
    font-size: 140%;
    border-radius: 2%;
    transition: 0.5s;
    font-family: "Rajdhani", serif;
}
.signInButton{
    color:#FEFEFE;
}
.signUpButton{
    background-color: #FFFFFF1A;
    color: #FFFFFF4D;   
}
label{
    color: #FFFFFFE5;
    font-size: 85%;
}
.input_fields{
    height: 45%;
    /* background-color: #EBA832; */
}
.input1, .input2{
    /* height: 40%; */
    padding: 4% 0 4% 0;
    justify-content: space-between;
    /* height: 0%; */
    /* background-color: beige; */
}
.input1{
    height: 42%;
}
.input2{
    height: 58%;
    /* background-color: blueviolet; */
}
.input2 > .password{
    width: 105%;
}
.input2 > .password > input[type=password]{
    width: 100%;
}
.input2 > .password > img{
    
    position: relative;
    right: 8%;
}
input[type = text], input[type=password]{
    font-size: 90%;
    background-color: transparent;
    color: #FFFFFF80;
    padding: 3% 0 3% 3.3%;
    border: 1px solid #444;
}
.input3 {
    padding: 2% 0 0 0;
    width: 100%;
    /* height: 40%; */
    /* background-color: antiquewhite; */
    justify-content: space-between;
    font-size: 50%;
}
.input3 > .remember{
    width: 30%;
    height: 100%;
    padding: 1% 0 0 0;
    /* background-color: violet; */

}
.input3 > .remember > input[type=checkbox]{
    
}
.input3 > .remember > p{
    padding: 2% 0 0 2.7%;
    width: 80%;
    color: #FFFFFF;
    font-size: 170%;
}
.input3 > .forgot_password{
    padding: 1.6% 0 0 0;
    height: 100%;
}
.input3 > .forgot_password > a{
    color: #FFFFFF;
    font-size: 170%;
}
.button_fields{
    margin-top: 8%;
    width: 100%;
    height: 30%;
    justify-content: space-between;
    /* background-color: aquamarine;     */
}
.button_fields > .message{
    width: 100%;
    /* background-color: azure; */
    height: 25%;
}
.button_fields > .message > p{
    color: #FEFEFE;
    font-size: 85%;
    position: relative;
    width: 5%;
    padding: 0 6% 0 2%;
    background-color: #292929;
    top:24%;
    left: 46%;
}
.button_fields > .message > hr{
    height: 2%;
    border: 1px solid #FFFFFF26;
}

.button_fields > button{
    font-size: 110%;
    width: 100%;
    height: 30%;
}
.button_fields > .signInGoogle_Button{
    background-color: #FFFFFF;
    border: 1px solid #1111111A;
    /* padding: 0 0 18px 0; */
    /* he */
    /* text-align: center; */
}
.button_fields > .signInGoogle_Button > span{
    height: 100%;
}
.button_fields > .signInGoogle_Button > span > .message{
    position: relative;
    bottom: 10%;
}
.button_fields > .signInGoogle_Button > span > img{
    position: relative;
     /* top: 27%; */
    left: 1%; 
    /* width: 5.2%; */
    /* height: 18px; */
    /* background-color: #EBA832; */
    width:6%;
    /* height: 100%; */
}
.HaveNotAccMessage{
    padding: 5% 0 0 0;
    height: 10%;
    justify-content: center;
    /* background-color: tomato; */
}
.HaveNotAccMessage p{
    color: #FFFFFF;
    font-size: 88%;
}
.HaveNotAccMessage > p > a{
    color: #EBA832;
    text-decoration: none;
}