
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
body::-webkit-scrollbar {
    display: none; 
  }
.Home{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 78.61%),linear-gradient(359.68deg, rgba(0, 0, 0, 0) 72.85%, rgba(44, 44, 44, 0.6) 106.63% ),url(Images/BackgroundImage.png);
    background-size: 1800px;
    width: 100%;
    height: 100vh;
}

.Home > .Header{
    padding: 20px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Home > .Header > .logo {
    padding: 10px 0;
    
}
.Home > .Header > .Menu{
    display: flex;
    align-items: start;
    gap: 40px;
}
.Home > .Header > .Menu > .item {
    padding: 10px 0;
}
.Home > .Header > .Menu > .dropdown {
    display: flex;
}
.Home > .Header > .Menu > .item > p > a{
    color:  #FEFEFE;
}
.Home > .Header > .Menu >  .Buttons{
    padding: 5px 0;
}
.Home > .Header > .Menu >  .Buttons > button{
    font-size: 15px;
    /* font-weight: 800;    */
    padding: 10px 20px;
}
.Home > .Content{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 80px;
}
.Home  > .Content > .textContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Home  > .Content > .textContainer > .title > h1{
    color: white;
    font-size: 42px;
}
.Home  > .Content > .textContainer  > p{
    color: rgba(255, 255, 255, 0.714);
    font-size: 16px;
    line-height: 25px;
}

.Home  > .Content > .Buttons > button{
    font-size: 15px;
    padding: 12px 15px;
}

.ResearchInsights{
    width: 100%;
    height: 160vh;
    background-color: #292929;
    background-image: url(Images/webImage.svg);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 9.6% 0 0 0;
}

.ResearchInsights > .maincontainer{
    padding: 0 5% 0 6.4%;
    height: 75%;
    width: 100%;
}

.ResearchInsights > .maincontainer > .HeadingContainer > .Heading > .Heading1{
    color: #EBA832;
}
.ResearchInsights > .maincontainer > .HeadingContainer > .Heading > .Heading2{
    color: #FEFEFE;
}
.ResearchInsights > .maincontainer > .HeadingContainer  > .Content {
    margin-top: 3%;
    font-size: 16px;
    margin-left: 20%;
    letter-spacing: 1.1px;
}
.ResearchInsights > .maincontainer > .HeadingContainer  > .Content > p{
    color: #FFFFFF99;
    /* line-height: 25px; */
}

.ResearchInsights > .maincontainer > .box-container{
    display: flex;
    justify-content: space-between;   
    width: 101%;
    height: 80%;
    margin-top: 5%;
}
.ResearchInsights > .maincontainer > .box-container > .box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
    height: 99%;
    background-position: bottom;
    background-color: #323232;
    background-repeat:  no-repeat ;
    background-size: contain;
}
.ResearchInsights > .maincontainer > .box-container > .box > .Content {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 10px;
    height: 35%;    
    padding: 5%;
    padding-bottom: 0;
}

.ResearchInsights > .maincontainer > .box-container > .box > .Content >  .title {
    font-size: 14px;
    color: #cccccc9a;
    letter-spacing: 4px;
}
.ResearchInsights > .maincontainer > .box-container > .box > .Content > .subtitle1 {
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.ResearchInsights > .maincontainer > .box-container > .box > .Content > .subtitle2 {
    font-size: 13px;
    font-weight: 400;
    color:  #ffffff77;
}
.ResearchInsights > .maincontainer > .box-container > .box > .image_container{
    width: 100%;
    height: 70%;
    cursor: pointer;
    background-position: bottom;
    background-repeat: no-repeat;
    transition: 0.2s ease-in;
}
.ResearchInsights > .maincontainer > .box-container > .box > .image1{
    background-image: url(Images/Chain.svg); 
}
.ResearchInsights > .maincontainer > .box-container > .box > .image2{
    background-image: url(Images/Research.svg); 
}
.ResearchInsights > .maincontainer > .box-container > .box > .image3{
    background-image: url(Images/Insights2.svg);
}
.ResearchInsights > .maincontainer > .box-container > .box > .image_container:hover {
    background-size: 120%;
}


.IndustriesServices{
    width: 100%;
    height: 160vh;
    background: #FEFEFE;
    padding: 10% 0 0 0;

}
.IndustriesServices > .maincontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0 5% 0 6%;
    height: 80%;
}
.IndustriesServices > .maincontainer > .HeadingContainer  > .Content{
    color: #29292963;
}

.IndustriesServices > .maincontainer > .HeadingContainer > .Heading > .Heading1{
    color: #EBA832;
}
.IndustriesServices > .maincontainer > .HeadingContainer > .Heading > .Heading2{
    color: #292929;
}
.IndustriesServices > .maincontainer > .body-container{
    width: 100%;
    height: 80%;
}

.IndustriesServices > .maincontainer > .body-container{
    display: flex;
    flex-direction: column;
    padding:  2% 0;
}
.IndustriesServices > .maincontainer > .body-container > .Header{
    display: flex;
    padding: 50px 30px;
    gap: 40px;
}
.IndustriesServices > .maincontainer > .body-container > .Header > a{
    color: #292929;    
    font-size: 22px;
}
.IndustriesServices > .maincontainer > .body-container > .View {
    height: 30%;
    border-bottom: 1px solid gray;
}
.IndustriesServices > .maincontainer > .body-container > .View > .Items{
    display: flex;
}
.IndustriesServices > .maincontainer > .body-container > .View > .Items > .Item1{
    font-size: 30px;
    padding: 1% 0 0 2%;
    width: 50%;
}
.IndustriesServices > .maincontainer > .body-container > .View > .Items > .Item1 > h2{
    font-weight: 550;
}
.IndustriesServices > .maincontainer > .body-container > .View > .Items > .Item2 > p{
    color: #292929CC;    
}
.IndustriesServices > .maincontainer > .body-container > .View > .Items > .Item2{
    font-size: 17px;
    padding: 1%  0 0 3%;
    width: 50%;
    height: 60px;
}
.ClientSuccessStory{
    width: 100%;
    height: 160vh;
    background-color: #292929;
    background-image: url(Images/webImage.svg);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 9.4% 0 0 0;
}
.ClientSuccessStory > .maincontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    padding: 0 6% 0 6%;
}
.ClientSuccessStory > .maincontainer > .HeadingContainer > .Content {
    color: #FFFFFF99;
}
.ClientSuccessStory > .maincontainer > .HeadingContainer > .Heading > .Heading1{
    color: #EBA832;
}
.ClientSuccessStory > .maincontainer > .HeadingContainer > .Heading > .Heading2{
    color: #FEFEFE;
}
.ClientSuccessStory > .maincontainer > .body-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 58%;
    margin-top: 6%;
}
.ClientSuccessStory > .maincontainer > .body-container > .Content{
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 40px;
}
.ClientSuccessStory  > .maincontainer > .body-container >  .image-container{
    width: 52%;
    height: 100%;
    background-image: url(Images/clientSucess.svg); background-size: center; background-repeat: no-repeat;
}

.ClientSuccessStory > .maincontainer > .body-container > .Content > .description{
    color: #FFFFFF99;
    font-size: 15.4px;
    line-height: 25px;
}

.ClientSuccessStory > .maincontainer > .body-container > .Content > .achievements > div{
    display: flex;
}
.ClientSuccessStory > .maincontainer > .body-container > .Content > .achievements > div > p{
    font-size: 23px; 
    font-weight: 550;
    color:#FEFEFE;
}

.ClientSuccessStory > .maincontainer > .body-container > .Content > .achievements > div > span{
    color: #FFFFFF99;  
    font-size:19px;
    padding: 0.7% 0 0 2%;
}

.ClientSuccessStory > .maincontainer > .body-container > .Content > .Buttons > button{
    color: #292929;
    font-size: 18px;
    padding: 10px;
}
.MeetOurTeam{
    width: 100%;
    height: 270vh;
    background-color: #292929;
}
.MeetOurTeam > .maincontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
    padding: 2% 0 0 0;
}
.MeetOurTeam > .maincontainer > .container1{
    padding: 0 6% 0 6%;
}
.MeetOurTeam > .maincontainer > .container1 > .HeadingContainer > .Heading > .Heading1{
    color: #EBA832;
}
.MeetOurTeam > .maincontainer > .container1 > .HeadingContainer > .Heading > .Heading2{
    color: #FEFEFE;
}
.MeetOurTeam > .maincontainer > .container1 > .HeadingContainer > .Content{
    color: #FFFFFF99;
}
.MeetOurTeam > .maincontainer > .container1 > .Header{
    display: flex;
    gap: 30px;
    padding: 70px 0;
    font-size: 23px;
}
.MeetOurTeam > .maincontainer > .container1 > .Header  > a{
    color: #FFFFFF99;
}
.MeetOurTeam > .maincontainer > .container2{
    display: flex;
    width: 100%;
    height: 40%;
    overflow-x: scroll;
}
.MeetOurTeam > .maincontainer > .container2::-webkit-scrollbar {
    display: none;
  }
.MeetOurTeam > .maincontainer > .container2 > .item{
    cursor: pointer;
    margin-right: 2%;
    flex-shrink: 0; 
    transition: 0.5s;
}
.MeetOurTeam > .maincontainer > .container2 > .item:hover{
    transform: scale(1.15);
}
.MeetOurTeam > .maincontainer > .container2 > .picture1{
    background-image: url(Images/MOT1.png); background-size: 220%; background-position: center; background-repeat: no-repeat; width: 330px; height: 350px;
}
.MeetOurTeam > .maincontainer > .container2 > .picture2{
    background-image: url(Images/MOT2.png); background-size: 100%; background-position: center; background-repeat: no-repeat; width: 300px; height: 350px; 
}
.MeetOurTeam > .maincontainer > .container2 > .picture3{
    background-image: url(Images/MOT3.png); background-size: 100%; background-position: top left; background-repeat: no-repeat; width: 350px; height: 350px; 
}
.MeetOurTeam > .maincontainer > .container2 > .picture4{
    background-image: url(Images/MOT4.png); background-size: 100%; background-position: top left; background-repeat: no-repeat; width: 640px; height: 350px; 
}


.MeetOurTeam > .maincontainer > .highlights{
    display: flex;
    flex-direction: column;
    height: 40%;
}
.MeetOurTeam > .maincontainer > .highlights > .Heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    padding: 0 0 3% 0;
}
.MeetOurTeam > .maincontainer > .highlights > .image-container{
    display:  flex;
    gap: 20px;
    padding: 0 30px ;
    overflow-x: scroll;
    white-space: nowrap;
    height: 360px;
}
.MeetOurTeam > .maincontainer > .highlights > .image-container::-webkit-scrollbar {
    display: none;
  }
.MeetOurTeam > .maincontainer > .highlights > .image-container > .picture1{
    background-image: url(Images/highlight1.svg);
}
.MeetOurTeam > .maincontainer > .highlights > .image-container > .picture2{
    background-image: url(Images/highlight2.svg);
}
.MeetOurTeam > .maincontainer > .highlights > .image-container > .picture3{
    background-image: url(Images/highlight3.svg);
}

.MeetOurTeam > .maincontainer > .highlights > .Heading > .Heading1{
    color: #EBA832;
}
.MeetOurTeam > .maincontainer > .highlights > .Heading > .Heading2{
    color: #FEFEFE;
}
.MeetOurTeam > .maincontainer > .highlights > .image-container > div{
    cursor: pointer;
    width: 35%;
    flex-shrink: 0;     
}

.RealStories{
    width: 100%;
    height: 180vh;
    padding: 5% 6% 5% 6% ;
}
.RealStories > .maincontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 50px 0;
}
.RealStories > .maincontainer > .HeadingContainer > .Heading > .Heading1{
    color: #EBA832;
}
.RealStories > .maincontainer > .HeadingContainer > .Heading > .Heading2{
    color: #292929; 
}
.RealStories > .maincontainer > .HeadingContainer > .Content {
    color: #29292963;
}
.RealStories > .maincontainer .image-container{
    display:  flex;
    width: 100%;
    height: 500px;
    gap: 5px;
    padding: 50px 0;
}
.RealStories > .maincontainer > .image-container > .item{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-grow: 0;
    width: 10%;
    cursor: pointer;
    padding: 0 0 5% 2.6%;   
    transition: ease 0.8s;
}
.RealStories > .maincontainer > .image-container > .item:hover{
    flex-grow: 8;          
}
.RealStories > .maincontainer > .image-container > .item1{
    flex-grow: 1;
}

.RealStories > .maincontainer > .image-container > .item1{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.2) 78.61%),linear-gradient(359.68deg, rgba(0, 0, 0, 0.2) 72.85%, rgba(44, 44, 44, 0.4) 106.63% ),url(Images/Realstories1.png); 
    background-position: top 35% left 30%; 
    background-size: 940px;
}
.RealStories > .maincontainer > .image-container > .item2{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.2) 78.61%),linear-gradient(359.68deg, rgba(0, 0, 0, 0.2) 72.85%, rgba(44, 44, 44, 0.4) 106.63% ),url(Images/Realstories2.png); 
    background-position: top 35% left 30%; 
    background-size: 940px; 
}
.RealStories > .maincontainer > .image-container > .item3{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.2) 78.61%),linear-gradient(359.68deg, rgba(0, 0, 0, 0.2) 72.85%, rgba(44, 44, 44, 0.4) 106.63% ),url(Images/Realstories3.png); 
    background-position: top 35% left 30%; 
    background-size: 940px; 
}

.RealStories > .maincontainer .image-container > .item > .Content{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 55%;
    width: 70%;
    color: #FFFFFF;
}
.RealStories > .maincontainer .image-container > .item > .Content > p{
    line-height: 140%;
}
.RealStories > .maincontainer .image-container > .item > .Content > .logo-and-text {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.RealStories > .maincontainer .image-container > .item > .Content > .logo-and-text > h1{
    font-weight: 600;
}

.RealStories > .maincontainer > .partnerships{
    display: flex;
    flex-direction: column;
    margin: 10% 0 0 0;
    height: 25%;
}
.RealStories > .maincontainer > .partnerships > .Heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30%;
}
.RealStories > .maincontainer > .partnerships > .Heading > .Heading1{
    color: #EBA832;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.07px;
    letter-spacing: 6px;
}
.RealStories > .maincontainer > .partnerships > .Heading > .Heading2{
    color: #292929;
    font-weight: 700;
    font-size: 220%;
    line-height: 53.59px;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
}

.RealStories > .maincontainer > .partnerships > .image-container{
    display: flex;
    padding: 70px 0 0 0;
    animation: marquee 10s linear infinite;
}
.RealStories > .maincontainer > .partnerships > .image-container > div{
    width: 25%; 
    height: 100px; 
    flex-shrink: 0; 
    margin-right: 2%;
    background-position: center; 
    background-repeat: no-repeat;
}
.RealStories > .maincontainer > .partnerships > .image-container::-webkit-scrollbar {
    display: none;
}
.RealStories > .maincontainer > .partnerships > .image-container > .picture1{
    background-image: url(Images/clients/NBCUniversal.svg); 
}
.RealStories > .maincontainer > .partnerships > .image-container > .picture2{
    background-image: url(Images/clients/Barclays.png);
}
.RealStories > .maincontainer > .partnerships > .image-container > .picture3{
    background-image: url(Images/clients/Bank_of_america.png);
}
.RealStories > .maincontainer > .partnerships > .image-container > .picture4{
    background-image: url(Images/clients/HBO.png);
}

@keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

.ContactUs{
    background-color: #e8b04f;
    width: 100%;
    height: 40vh;
}
.ContactUs > .maincontainer {
    background-image: url(Images/WebImage2.svg);
    background-position: center;  
    background-repeat: no-repeat;
    padding: 5% 0 0 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.ContactUs > .maincontainer > .forContact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70%;
}
.ContactUs > .maincontainer > .forContact > h1{
    font-weight: 900;
    color: #292929;
    margin-left: 4%;
    text-transform: uppercase;
}
.ContactUs > .maincontainer > .forContact > .Buttons > button{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 12px;
    background-color: #FEFEFE;
}
footer{
    width: 100%;
    height: 90vh;
    background-image: url(Images/Footer/Footer.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-color: #1C1C1C;
}

footer > .maincontainer{
    display: flex;
    justify-content: space-between;
    padding: 5% 3% 0% 5%;
    width: 100%;
    height: 100%;   
}

footer > .maincontainer > div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 15%;
}
footer > .maincontainer > .about{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 25%;
}
footer > .maincontainer > .services{
    width: 22%;
}
footer > .maincontainer > div > p{
    font-size: 85%;
    color: #FFFFFFCC;
}
footer > .maincontainer > div > .Heading{
    font-weight: 500;
    font-size: 115%;
    color: #FEFEFE;
}
footer > .maincontainer > .about > p {
    color: #FFFFFF99; 
    font-size: 13px;
}

footer > .maincontainer > .about > .logo{
    width:150px;
}
footer > .maincontainer > .about > .icons-container{
    display: flex;
    gap: 15px;
}
footer > .maincontainer > .about > .icons-container > div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FEFEFE;
}
footer > .maincontainer > .about > .icons-container > .icon1{
    background-image: url(Images/Footer/LinkedIn.svg);
}
footer > .maincontainer > .about > .icons-container > .icon2{
    background-image: url(Images/Footer/X.svg);
}
footer > .maincontainer > .about > .icons-container > .icon3{
    background-image: url(Images/Footer/Instagram.svg);
}
footer > .maincontainer > .about > .icons-container > .icon4{
    background-image: url(Images/Footer/Facebook.svg);
}

footer > .maincontainer > .about > .image_container1{
    display: flex;
    gap: 20px;
}
footer > .maincontainer > .about > .image_container1 > img{
    width: 60px;
    height: 60px;
}
footer > .maincontainer > .about > .image_container2{
    display: flex;
    gap: 20px;
}
footer > .maincontainer > .about > .image_container2 > img{
    width: 100px;
}